@model CadastroUsuarioMvc.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Cadastro de Usuarios";
}
<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.TextBoxFor(a => a.Login)</td>
        </tr>
        <tr>
            <td> @Html.LabelFor(a => a.Senha)</td>
            <td> @Html.PasswordFor(a => a.Senha) </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
}